.footer {
  // width: 100%;
  line-height: 1.5rem;
  padding: 1rem 1rem 1rem 1rem;// 2 min margin-top header a 1
  margin-top: 2rem; 

  background-color: $header-background-color;
  [theme=dark] & {
    background-color: $header-background-color-dark;
  }

  .footer-container {
    font-size: 1rem;

    .footer-floats-container {
      display: flex;
      justify-content: space-between;
    }

    .floater {
      flex: 1;
      flex-grow: 1;
      min-width: 200px;
    }

    .center {
      text-align: center;
      li {
        white-space: nowrap;
      }
    }

    .right {
      text-align: right;
    }

    @media only screen and (max-width: 850px) {
      .footer-floats-container { display: block;}
      .floater { width: calc(50% - 0.14rem); display: inline-block; }
      .center, .right { text-align: left;}
      .center { width: max-content;}
      .right { float: left;}
    }

    .bottom-container {
      margin-top: 3rem;
      display: inline-flex;
      width: 100%;
      font-size: .875rem;
    }

    .left-bottom-container{
      flex-wrap: wrap;
      width: 50%;
      text-align: left;
    }

    .right-bottom-container {
      width: 50%;
      text-align: right;
    }
    
    .menu {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: flex;
    }
    
    .menu.vertical {
      flex-wrap: nowrap;
      flex-direction: column;
    }

    a img {
      margin-right: 0.5rem;
      display: inline-block;
      vertical-align: center;
    }

    li.location img {
      vertical-align: top;
      margin-right: 0.5rem;
      margin-top: 0.4rem;
      display: inline-block;
    }

    li p {
      display: inline-block;
    }

    h1 {
      font-size: 1rem;
      line-height: 1.5rem;
      margin: 1rem 0 0.5rem 0;
    }

    p { margin: 0; padding: 0; }

    ul, li {
      margin:0;
      padding: 0;
    }
  }

  @include blur;
}
