// ==============================
// Custom style
// ==============================

div#expertises_table {
    border:  1px solid $global-font-secondary-color-dark;
    [theme=dark] & {
        border:  1px solid $global-font-secondary-color;
    }
}

.home {
    .home-profile {
        img {
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }

        picture {
            width: 45%;
        }
    }
}


img#python {
    margin-top: 0;
    width: 15%;
}

@media only screen and (max-width: 767.8px) {
    #content {
        #about_image {
            width: 100% !important;
        }
    }
}

// FRONTPAGE STYLING
#intro-text-before{
    display: none;
}

#pf_home {
    max-width: 100%;
    width: 100%;
    height: 15rem;
    object-fit: cover;
    margin: 0;
}

#pf_home.lazyload, #pf_home.lazyloading {
    object-fit: scale-down;
    width: 100%;
  }

#intro-text-after{
    margin: auto;
}

@media only screen and (max-width: 767.8px) { // was 480
    // NOTE dit hieronder gecombineerd met de negatieve margin van pf_home geeft een effectieve css crop.
    #img-container {
        // height: 90vw;
        float: none;
        width: 100%;
        height: 28.35vw;    // equal to the 'projects' banner size! 
        max-width: 100%;
        margin: 0;
    }
    #pf_home {
        max-width: 100%;
        width: 100%;
        height: 28.35vw;    // equal to the 'projects' banner size! 
        object-fit: cover;
        object-position: 0% 0%; 
        margin: 0;
    }
}

#centered_company {
    display: flex;
    justify-content: center; 

    .flex-center {
        display: flex;
        flex-wrap: wrap; /* Allows elements to wrap when not enough space */
        justify-content: center; /* Center-aligns the elements horizontally */
        align-items: center; /* Center-aligns the elements vertically */
        i {
            white-space: preserve nowrap;
        }
    
      }
  }

// .mermaid {
//     position: relative;
// }



svg.svg_icon {
    // the svgs from the nounproject I use are made a bit stupid... they are not a single stroke but 'outline' a stroke, which then is filled.
    fill : $global-font-color;
    [theme=dark] & {
        fill: $global-font-secondary-color-dark;
    }
}

svg.svg_icon path {
    transform: scale(0.7); /* Scale down the paths */
    transform-origin: center; /* Make sure scaling is centered */
}
svg.svg_icon#data_science path {
    transform: scale(0.85); /* Scale down the paths */
    transform-origin: center; /* Make sure scaling is centered */
}


// 768px is the bootstrap md layout breakpoint
@media (max-width: 767.8px) {
    .order-md-1,
    .order-md-2 {
        order: 0; /* Reset the order for mobile */
        // margin-top: 1rem;
    }
    // for the icons
    .col-md-3 {
        width: 35%;
        max-width: 174px; // same size as at full width
    }
    .col-md-6 {
        width: 100%;
    }

    #contact-me-text-side {
        display: none;
    }

    svg.svg_icon path {
        transform: scale(0.85); /* Scale down the paths */
        transform-origin: center; /* Make sure scaling is centered */
    }
    svg.svg_icon#data_science path {
        transform: scale(1); /* Scale down the paths */
        transform-origin: center; /* Make sure scaling is centered */
    }
}

@media (min-width: 768px) {
    .single .content .custom-row-margins {
        .order-md-1 {
            padding-right: 0.5rem;
        }
        .order-md-2 {
            padding-left: 0.5rem;
        }
    }
}


// special blockquotes
.single .content blockquote.services {
    //to override the default
    display: inherit;
    position: relative;
    border: none;

    background-color: $global-background-color;
    color: $global-font-secondary-color;
    [theme=dark] & {
        color: $global-font-secondary-color-dark;
        background-color: $global-background-color-dark;
    }

    // to set it here
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;

    padding: 1rem 30px 1rem 30px;
    }
    
blockquote.services:before {
    display: block;
    padding-left: 8px;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -12px;
    top: -5px;
    }

blockquote.services:after {
    display: block;
    padding-left: 8px;
    content: "\201D";
    font-size: 60px;
    position: absolute;
    right: 5px;
    bottom: -35px;
    }
    
blockquote.services cite {
    color: $global-font-secondary-color;
    [theme=dark] & {
        color: $global-font-secondary-color-dark;
    }
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
     
blockquote.services cite:before {
    content: "\2014 \2009";
    }