// ==============================
// Custom style
// ==============================

div#expertises_table {
    border:  1px solid $global-font-secondary-color-dark;
    [theme=dark] & {
        border:  1px solid $global-font-secondary-color;
    }
}

.home {
    .home-profile {
        img {
            min-height: 100px;
            max-height: 200px;
            max-width: 100%;
        }

        picture {
            width: 45%;
        }
    }
}

.single .content .wrap-around {
    display: inline-block;
    width: 100%;
    
    img {
        float: left;
        margin: 0.5rem 2.5% 2.5% 0; //0.5rem is perfect de text spacing
    }    
    
    p {
        text-align: left;
    }

    ul {
        overflow: auto;
        padding-left: 1.5rem !important;
        @media only screen and (min-width: 480px) {
            margin-top: 0 !important;   //pakt de overlap met p niet helemaal vreemd genoeg.
        }
    }

    a, div {
        height: max-content;
    }
}

.service {
    margin: 1.5rem 0;
}

.single .content .wrap-around.right {
    img {
        float: right;
        margin: auto 0 2.5% 2.5%; //0.5rem is perfect de text spacing
    }
    p {
        text-align: left;
    }
}

img#python {
    margin-top: 0;
    width: 15%;
}

.single .content .wrap-around.skipheader img {
    margin-top: 2.05rem;
}

@media only screen and (max-width: 680px) {
    #content {
        #about_image {
            width: 100% !important;
        }
    }
}

// FRONTPAGE STYLING
#my-name-is-before, #hire-text-before{
    display: none;
}

#img-container {
    max-width: 47.5%;
    width: 47.5%;
    margin: 0.5rem 2.5% 2.5% 0;
    float: left;
    position: relative;
}

#pf_home {
    max-width: 100%;
    width: 100%;
    height: 16rem;
    object-fit: cover;
    margin: 0;
}

#pf_home.lazyload, #pf_home.lazyloading {
    object-fit: scale-down;
    width: 100%;
  }

@media only screen and (max-width: 780px) { // was 704
    #my-name-is-after{
        display: none;
    }
    #my-name-is-before{
        display: block;
    }
    #pf_home {
        height: 21vw;
    }
}

@media only screen and (max-width: 680px) { //was 590
    #hire-text-after{
        display: none;
    }
    #hire-text-before{
        display: block;
    }
}

@media only screen and (max-width: 680px) { // was 480
    // set the text above or below
    #hire-text-after{
        display: none;
    }
    #hire-text-before{
        display: block;
    }
    // NOTE dit hieronder gecombineerd met de negatieve margin van pf_home geeft een effectieve css crop.
    #img-container {
        // height: 90vw;
        float: none;
        width: 100%;
        height: 28.35vw;
        max-width: 100%;
        margin: 0;
    }
    #pf_home {
        max-width: 100%;
        width: 100%;
        height: 28.35vw;
        object-fit: cover;
        object-position: 0% 0%; 
        margin: 0;
    }

    .wrap-around ul {
        // padding-left: 2.5rem !important;
        padding-left: 1.5rem !important;
        // margin-top: 0.5rem !important;
    }
}

#centered_company {
    display: flex;
    justify-content: center; 

    .flex-center {
        display: flex;
        flex-wrap: wrap; /* Allows elements to wrap when not enough space */
        justify-content: center; /* Center-aligns the elements horizontally */
        align-items: center; /* Center-aligns the elements vertically */
        i {
            white-space: preserve nowrap;
        }
    
      }
  }

// .mermaid {
//     position: relative;
// }



svg.svg_icon {
    fill : $global-font-color;
    [theme=dark] & {
        fill: $global-font-secondary-color-dark;
    }
}

@media (max-width: 780px) {
    .order-md-1,
    .order-md-2 {
        order: 0; /* Reset the order for mobile */
    }
    .col-md-3 {
        width: 30%;
    }
}


// special blockquotes
.single .content blockquote.services {
    //to override the default
    display: inherit;
    position: relative;
    border: none;

    background-color: $global-background-color;
    color: $global-font-secondary-color;
    [theme=dark] & {
        color: $global-font-secondary-color-dark;
        background-color: $global-background-color-dark;
    }

    // to set it here
    font-family: Georgia, serif;
    font-size: 17.5px;
    font-style: italic;

    padding: 1rem 30px 1rem 30px;
    }
    
blockquote.services:before {
    display: block;
    padding-left: 8px;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -12px;
    top: -5px;
    }

blockquote.services:after {
    display: block;
    padding-left: 8px;
    content: "\201D";
    font-size: 60px;
    position: absolute;
    right: 5px;
    bottom: -35px;
    }
    
blockquote.services cite {
    color: $global-font-secondary-color;
    [theme=dark] & {
        color: $global-font-secondary-color-dark;
    }
    font-size: 14px;
    display: block;
    margin-top: 5px;
    }
     
blockquote.services cite:before {
    content: "\2014 \2009";
    }