{{- if ne .Site.Params.footer.enable false -}}
    <footer class="footer">
        <div class="footer-container">
            {{- if ne .Site.Params.footer.company false -}}
            <div class="left-float-container">
                {{- /* Company details and contact info */ -}}
                <ul class="vertical menu">
                    <li>
                        <h4>Contact</h4>
                    </li>
                    <li>
                        <a href="tel:{{ .Site.Params.company.phone }}" class="white">
                            <img src='{{ (resources.Get "svg/phone.svg" | minify).RelPermalink }}' alt="">
                            {{ .Site.Params.company.phone }}                        
                        </a>
                    </li>
                    <li>
                        <a href="mailto:{{ .Site.Params.company.email }}" class="white">
                            <img src='{{ (resources.Get "svg/envelope.svg" | minify).RelPermalink }}' alt="">
                            {{ .Site.Params.company.email }}
                        </a>
                    </li>
                </ul>
            </div>

            <div class="left-float-container centred-text">
                {{- /* Company details and contact info */ -}}
                <ul class="vertical menu">
                    <li>
                        <h4>Company details</h4>
                    </li>
                    <li>
                        Chamber of Commerce: <a href="{{ .Site.Params.company.cocHref }}" rel="noopener noreffer">{{ .Site.Params.company.cocNo }}</a>
                    </li>
                    <li>
                        VAT: {{ .Site.Params.company.vatNo }}
                    </li>
                </ul>
            </div>

            <div class="left-float-container right-text">
                {{- /* Company details and contact info */ -}}
                <ul class="vertical menu">
                    <li>
                        <h4>Links</h4>
                    </li>
                    {{ with .Site.Params.company.cvLocation }}
                    <li>
                        <a href="{{ . }}" rel="noopener noreffer">
                            Curriculum Vitae
                        </a>
                    </li>
                    {{ end }}
                </ul>
            </div>
            {{- end -}}

            <!-- ############################# -->
            <div class="bottom-container">
                <div class="left-bottom-container">
                    {{- if ne .Site.Params.footer.company false -}}
                        <a href="{{ .Site.Params.company.termsConditionsFile }}" target='_blank' rel="noopener noreffer">Terms &amp; Conditions</a>
                    {{ end }}

                    <div class="copyright" itemscope itemtype="http://schema.org/CreativeWork">
                        {{- /* Copyright year */ -}}
                        {{- if ne .Site.Params.footer.copyright false -}}
                            <i class="far fa-copyright fa-fw" aria-hidden="true"></i>&nbsp;
                            {{- with .Site.Params.footer.since -}}
                                <span itemprop="copyrightYear">
                                    {{- if lt . now.Year }}{{ . }} - {{ end }}{{ now.Year -}}
                                </span>
                            {{- else -}}
                                <span itemprop="copyrightYear">{{ now.Year }}</span>
                            {{- end -}}
                        {{- end -}}

                        {{- /* Author */ -}}
                        {{- if ne .Site.Params.footer.author false -}}
                            <span class="author" itemprop="copyrightHolder">&nbsp;<a href="{{ $.Site.Author.link | default .Site.Home.RelPermalink }}" target="_blank">{{ .Site.Author.name }}</a></span>
                        {{- end -}}
                    </div>
                </div>

                {{- /* Custom Content */ -}}
                <div class="right-bottom-container">
                    {{- with .Site.Params.footer.customPoweredBy -}}
                            {{- safeHTML . -}}
                    {{- end -}}

                    {{- /* Hugo and theme */ -}}
                    {{- if ne .Site.Params.footer.hugo false -}}
                            {{- $hugo := printf `<a href="https://gohugo.io/" target="_blank" rel="noopener noreffer" title="Hugo %v">Hugo</a>` hugo.Version -}}
                            {{- $theme := .Scratch.Get "version" | printf `<a href="https://github.com/dillonzq/LoveIt" target="_blank" rel="noopener noreffer" title="LoveIt %v"><i class="far fa-kiss-wink-heart fa-fw" aria-hidden="true"></i> LoveIt</a>` -}}
                            {{- dict "Hugo" $hugo "Theme" $theme | T "poweredBySome" | safeHTML }}
                    {{- end -}}
                </div>
            </div>

            {{- /* License */ -}}
            {{- with .Site.Params.footer.license -}}
                &nbsp;|&nbsp;<span class="license">{{ . | safeHTML }}</span>
            {{- end -}}

        </div>
    </footer>
{{- end -}}