/* =============================================================================
/* Hugo-Cite.css
/* ----------------------------------------------------------------------------- */

.hugo-cite-group {
  display: inline-block;
  vertical-align: baseline; /*compensate for lower height */
  position: relative;
  /*font-size: .85em; /* reduce to avoid some breaks */
}

.hugo-cite-group
  .hugo-cite-citation {
    visibility: hidden;
    background-color: #ffffff;
    color: inherit;
    border: 1px solid currentColor;
    padding: 0.5rem;
    position: absolute;
    width: 340px;
    max-width: 100vw;
    z-index: 1;
    bottom: 140%;
    left: -3rem;

    z-index: 2;
    transition:
      visibility 0s .3s,
      transform .3s ease 0s,
      opacity .3s ease 0s;
    opacity: 0;
    transform: translateY(-8px);
}
.hugo-cite-group:hover
  .hugo-cite-citation {
    visibility: visible;
    transition: visibility 0s 0s, transform .3s, opacity .3s;
    opacity: 1;
    transform: translateY(0);
}

@media only screen and (max-width: 680px) {
  .hugo-cite-group
    .hugo-cite-citation {
      width: 0;
      border: 0;
      padding: 0;
      margin: 0;
    }
  .hugo-cite-group:hover
    .hugo-cite-citation {
      visibility: hidden;
    }
}
/* Visually Hidden utility class */
.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
